#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 30px;
    background: #f5f5f5;
    color: #fff;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
    background-image: -webkit-linear-gradient(0deg, #1aff2c 0%, #2bde94 100%);
    transition: all 0.3s ease 0s;
}
#back-to-top:hover {
    bottom: 50px;
}
#back-to-top.show {
    opacity: 1;
}