<div class="fixed-quoting text-center">
  <img src="/images/icon.png" alt="">
  <div class="fixed-link">
    <a href="/shop/category.php?id=1&page=1">
      <span>Cotiza</span>
    </a>
  </div>
</div>
<div class="fixed-quoting-2 text-center">
  <img src="/images/book-open-solid.svg" alt="" width="28" height="28" style="padding-left: 5px;padding-top: 5px;">
  <div class="fixed-link-2">
    <a href="/Catalogos/CATALOGO BOLSAS.pdf" download="Catalogo">
      <span>Descarga</span>
    </a>
  </div>
</div>
<div class="fixed-quoting-3 text-center">
  <img src="/images/envelope-regular.svg" alt="" width="28" height="28" style="padding-left: 5px;padding-top: 5px;">
  <div class="fixed-link-3">
    <a href="javascript:void(0)" data-target="#modalSuscribe" data-toggle="modal" id="btnSuscribe">
      <span>Suscribete</span>
    </a>
  </div>
</div>
<!-- Modal  change password-->
<div class="modal fade" id="modalSuscribe" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Suscribirme</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="name">Correo:</label>
          <input type="email" id="email-suscribe-modal" class="form-control">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <a id="btnEditPass" role="button" class="btn btn-primary" href="#">Suscribirme</a>
      </div>
    </div>
  </div>
</div>
<script>
  $('#btnEditPass').click(() => {

    $.post('/services/suscribe.php', {
      email: $('#email-suscribe-modal').val()
    }, (data, status) => {
      if (status == 'success') {
        $('#modalSuscribe').modal('hide')
        $.notify({
          message: 'Gracias por preferirnos <br> Su suscripción fue exitosa'
        }, {
          type: 'success'
        })
      }
    })
  })
</script>

<style>
  .modal .btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
  }

  @media(max-width: 400px) {

    .fixed-quoting,
    .fixed-quoting-2,
    .fixed-quoting-3 {
      display: none;
    }
  }

  @media(min-width: 1024px) {

    .fixed-quoting,
    .fixed-quoting-2,
    .fixed-quoting-3 {
      display: block;
      overflow: hidden;
    }
  }
</style>
<script>
  $('#btnSuscribe').click(() => {
    hideCart()
  })
  $('.fixed-quoting').hover(() => {
    $('.fixed-link').css('right', '-15px')
  })
  $('.fixed-quoting').mouseleave(() => {
    $('.fixed-link').css('right', '-200px')
  })
  $('.fixed-quoting-2').hover(() => {
    $('.fixed-link-2').css('right', '-15px')
  })
  $('.fixed-quoting-2').mouseleave(() => {
    $('.fixed-link-2').css('right', '-200px')
  })
  $('.fixed-quoting-3').hover(() => {
    $('.fixed-link-3').css('right', '-15px')
  })
  $('.fixed-quoting-3').mouseleave(() => {
    $('.fixed-link-3').css('right', '-200px')
  })
</script>