<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/js/jquery-1.11.0.min.js"></script>
<link href="/images/icon.png" rel="icon" type="image/png">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="canonical" href="https://greenpack.com.co/">
<meta property="og:type" content="website">
<meta property="og:title" content="Greenpack - Empaques verdes">
<meta property="og:description" content="Diseñamos, fabricamos y comercializamos empaques biodegradables, compostables, reciclables y sustentables en Bolsas, Cajas, Laminas y productos especiales.">
<meta property="og:url" content="https://greenpack.com.co/">
<meta property="og:site_name" content="GreenPack">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="description" content="Diseñamos, fabricamos y comercializamos empaques biodegradables, compostables, reciclables y sustentables en Bolsas, Cajas, Laminas y productos especiales.">
<meta name="keywords" content="Shoplist Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
