/* Grid Cantidades por Producto */

.tituloCantidades {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.cantidades {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.recta {
  display: grid;
  grid-template-columns: 200px 1fr;
}

.nombreProducto {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-gap: 1em;
  }