<footer class="footer">
  <div class="container-fluid">
    <nav class="float-left">
      <ul>
        <li>
          <a href="https://www.creative-tim.com">
            GreenPack
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright float-right">
      &copy;
      <script>
        document.write(new Date().getFullYear())
      </script>, Hecho con <i class="material-icons">favorite</i> por
      <a href="https://teenus.com.co" target="_blank">Teenus</a> para una mejor web.
    </div>
    <!-- your footer here -->
  </div>
</footer>